.Shopping-Cart {
  border: 1px;
  border-color: #e86c6c;
}

.h2 {
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.shopping-cart-heading {
  text-align: center;
}


