.Shopping-Cart {
  border: 1px;
  border-color: #e86c6c; }

.h2 {
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300; }

.shopping-cart-heading {
  text-align: center; }

.cart-button {
  background-color: #e60278;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer; }
